body {
  background: rgba(18, 13, 33, 1);
  box-sizing: border-box;
  padding: 32px 128px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
}

h1 {
  line-height: 24px;
  font-weight: 700;
  box-sizing: border-box;
}

.text-description {
  font-size: 12px;
  line-height: 16px;
  display: inline;
}

.text-body {
  font-size: 14px;
  line-height: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.inp {
  caret-color: #fff;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  border-radius: 8px;
  outline: none;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.inp:hover {
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.inp:focus {
  border: 1px solid rgba(20, 90, 219, 1);
}

.form-container {
  min-width: 320px;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
}

.form-container-inner {
  min-width: 320px;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.button {
  background: rgba(20, 90, 219, 0.8);
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  border: 0;
  width: fit-content;
}

.button:hover {
  background: rgba(20, 90, 219, 1);
}


/* Add this style for the destinationAccount select */
/* Updated style for the destinationAccount select */
.destinationAccount {
  position: relative;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
  padding: 8px 24px 8px 12px; /* Adjust padding to make space for arrow */
  border-radius: 8px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  -webkit-appearance: none; /* Remove default arrow in Safari/Chrome */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  appearance: none; /* Remove default arrow in other browsers */
}

.destinationAccount:hover {
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.destinationAccount:focus {
  border: 1px solid rgba(20, 90, 219, 1);
}

/* Arrow styling */
.destinationAccount::before {
  content: '\25BC'; /* Unicode character for down arrow */
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Ensure the arrow does not interfere with the select */
}

    /* Additional styles for the fancy navigation bar */
    .navbar {
      background-color: rgba(18, 13, 33, 1);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .navbar ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    .navbar li {
      margin-right: 24px;
    }

    .navbar a {
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      font-size: 14px;
      transition: color 0.3s ease-in-out;
    }

    .navbar a:hover {
      color: rgba(20, 90, 219, 1);
    }
    /* Additional styles for the profile page */
    .profile-container {
      text-align: center;
      padding: 32px;
    }

    .profile-info {
      margin-bottom: 24px;
    }

    .profile-info p {
      font-size: 18px;
      line-height: 1.6;
    }

    .transaction-history {
      text-align: left;
    }

    .transaction-history h2 {
      font-size: 20px;
      margin-bottom: 16px;
    }

    .transaction-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .transaction-item {
      border-bottom: 1px solid #ccc;
      padding: 8px 0;
      display: flex;
      justify-content: space-between;
    }
