<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Title</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
</head>
<body>
<div class="form-container">
<nav class="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/create_request/">Invoice Creation</a></li>
      <li><a href="/profile/">Account information</a></li>
      {% if request.user.is_authenticated %}
            <li><a href="/logout/">Logout</a></li>
      {%  endif %}


  </ul>
</nav>
{% block content %}
{% endblock %}
</div>
</body>
</html>