{% extends "base.html" %}
{% block content %}

    <h1>Create pay request</h1>

    <div class="text-body"><p>
        Select the destination account and invoice amount. </p>
    <p><b>Remember that Bank takes 4% fee.</b></p>
    <p>
        After completing invoice creation, you'll receive a unique link. Share this link with your customers for a
        convenient and secure way to facilitate payments.
    </p>
    </div>
    <form action="/create_request/" method="post" class="form-container-inner">
    {% csrf_token %}
        <div class="input-container">
            <label for="account" class="text-description">Account</label>
            <select name="to" id="account" class="inp destinationAccount">
                {% for account in accounts %}
                    <option value="{{ account }}">{{ account }}</option>
                {% endfor %}
            </select>


        </div>
        <div class="input-container">
            <label for="amount" class="text-description">Amount</label>
            <input type="text" class="inp tex-body" id="amount" name="amount"/>
        </div>
        <button class="button">Create</button>
    </form>
{% endblock %}
