{% extends "base.html" %}
{% block content %}
    <h1>Welcome to GiggleVault Bank</h1>

    <!-- General Description -->
    <div class="text-body">
      <p>Secure and Convenient Online Banking Services</p>
      <p>Create and manage your invoices with ease. Receive payments securely through our online platform.</p>
      <p>Effortlessly track your financial transactions and stay organized.</p>
    </div>

    {% if not user.is_authenticated %}
    <form action="/login" method="post" class="form-container-inner">
    {% csrf_token %}

      <h1>Login</h1>
      <div class="input-container">
        <label for="username" class="text-description">Username</label>
        <input type="text" class="inp tex-body" id="username" name="username" />
      </div>
      <div class="input-container">
        <label for="pass" class="text-description">Password</label>
        <input type="password" class="inp tex-body" id="password" name="password" />
      </div>
      <button class="button">Login</button>
    </form>

    {% endif %}
{% endblock %}