{% extends 'base.html' %}
{% block content %}

<div class="success-container">
  <h1>Payment failed</h1>
  <p>Unfortunately we were not able to carry out the payment. Perhaps your funds were not enough</p>
  <p>For any further assistance, please <a href = "mailto: support@labs.defbox.io">contact us</a>.</p>
</div>

{% endblock %}