{% extends 'base.html' %}
{% block content %}

<div class="success-container">
  <h1>Payment Successful</h1>
  <p>Thank you for your payment! Your invoice has been successfully paid.</p>
    <p>Charge ID is {{ charge_id }}</p>
  <p>For any further assistance, please <a href = "mailto: support@labs.defbox.io">contact us</a>.</p>
</div>

{% endblock %}