{% extends "base.html" %}
{% block content %}
    <h1>Payment Page</h1>

    <!-- Invoice Information -->
    <div class="text-body">
      <p>Invoice Information:</p>
      <p>Amount: {{ amount }}</p>
      <p>Status: <span id="paymentStatus">{{ paid }}</span></p>
    </div>

    <!-- Payment Form -->
    <form id="paymentForm" method="post" class="form-container-inner">
        {% csrf_token %}
      <div class="input-container">
        <label for="cardNumber" class="text-description">Card Number:</label>
        <input type="text" id="cardNumber" class="inp" name="card_number" placeholder="Enter your card number" required>
      </div>

      <div class="input-container">
        <label for="cvc" class="text-description">CVC Code:</label>
        <input type="text" id="cvc"  name="cvc" class="inp" placeholder="Enter your CVC code" required>
      </div>

      <button type="submit" class="button">Submit Payment</button>
    </form>
{% endblock %}