{% extends "base.html" %}
{% block  content %}

    <div class="profile-container">
  <h1>User Profile</h1>

  <!-- User Information -->
  <div class="profile-info">
    <p>Card Number: {{ card.number }}</p>
    <p>CVC: {{ card.cvc }}</p>
    <p>Available Balance: {{ card.account.amount }} </p>
  </div>

  <!-- Transaction History -->
  <div class="transaction-history">
    <h2>Last Transactions</h2>
    <ul class="transaction-list">
        {% for transaction in transactions %}
      <li class="transaction-item"> {{ transaction.charge.amount }}</li>
        {% endfor %}
      <!-- Add more transactions as needed -->
    </ul>
  </div>
</div>


{% endblock %}