{% extends "base.html" %}
{% block content %}
    <h1>Invoice Created Successfully</h1>

    <div class="text-body">
        <p>Your invoice has been created successfully!</p>
        <p>Share the following link with your customer for payment:</p>
    </div>

    <div class="input-container">
        <input type="text" id="invoiceLink" class="inp" value={{ location }} readonly>
    </div>

    <div class="text-body">
        <p>Thank you for using our services. If you have any questions, feel free to contact our support team.</p>
    </div>
{% endblock %}