<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>BANK PROFIT today: {{ bank_profit }} </h1>
<table>
    <tr>
        <th>uuid</th>
        <th>amount</th>
        <th>from</th>
        <th>to</th>
    </tr>
    {% for charge in charges %}
    <tr>
        <td>
            {{ charge.charge.uuid }}
        </td>
        <td>
            {{ charge.charge.amount }}
        </td>
        <td>
            {{ charge.card.owner }}
        </td>
        <td>{{ charge.charge.to.owner }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>